@using TaskManagement.UI.Services.Auth
@inject IAuthService authService
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaskManagement.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (!string.IsNullOrEmpty(FullName))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi user-info" aria-hidden="true"></span>Wellcome @FullName
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="Logout">
                    <span aria-hidden="true"></span>
                    Logout
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tasks">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tasks
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string FullName = string.Empty;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        await GetFullNameAsync();
        await base.OnInitializedAsync();
    }
    private async Task GetFullNameAsync()
    {
        FullName = await authService.GetFullNameAsync();
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        Navigation.NavigateTo("/", true);
    }
}
